<?xml version="1.0" encoding="utf-8"?>
<plugin id="nova.cordova.plugins.wxpay" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>wxpay</name>
    <description>wxpay</description>
    <!-- add this to your config.xml -->
    <!-- <preference name="WECHATAPPID" value="YOUR_WECHAT_APP_ID_HERE" /> -->
    <preference name="APPID" />
    <preference name="MCHID" />
    <preference name="APIKEY" />
    <!--require cordova version -->
    <engines>
        <engine name="cordova" version=">=3.5.0" />
    </engines>
    <js-module src="pgwxpay.js" name="wxpay">
        <clobbers target="wxpay" />
    </js-module>
    <platform name="android">
        <hook type="after_plugin_install" src="scripts/android_after_plugin_install.js" />
        <config-file target="config.xml" parent="/*">
            <feature name="Pgwxpay">
                <param name="android-package" value="com.nova.cordova.wxpay.Pgwxpay" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <!-- wxpay sdk end -->
        </config-file>
        <!-- Plugin Source -->
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <!-- wxpay sdk begin -->
            <activity android:name=".wxapi.WXPayEntryActivity" android:exported="true" android:launchMode="singleTop" />
        </config-file>
        <!-- wxpay Libs -->
        <lib-file src="src/android/wxpay/libs/libammsdk.jar" />
        <!-- wxpay Sources -->
        <source-file src="src/android/com/nova/cordova/wxpay/Keyswx.java" target-dir="src/com/nova/cordova/wxpay" />
        <source-file src="src/android/com/nova/cordova/wxpay/MD5.java" target-dir="src/com/nova/cordova/wxpay" />
        <source-file src="src/android/com/nova/cordova/wxpay/Pgwxpay.java" target-dir="src/com/nova/cordova/wxpay" />
        <source-file src="src/android/com/nova/cordova/wxpay/Util.java" target-dir="src/com/nova/cordova/wxpay" />
    </platform>
    <platform name="ios">
        <hook type="after_plugin_install" src="scripts/ios_after_plugin_install.js" />
        <config-file target="config.xml" parent="/*">
            <feature name="Pgwxpay">
                <param name="ios-package" value="Pgwxpay" />
            </feature>
        </config-file>
        <config-file target="*-Info.plist" parent="NSAppTransportSecurity">
            <dict>
                <key>NSAllowsArbitraryLoads</key>
                <true/>
            </dict>
        </config-file>
        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
            <array>
                <string>weixin</string>
            </array>
        </config-file>
        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
            <array>
                <dict>
                    <key>CFBundleTypeRole</key>
                    <string>Editor</string>
                    <key>CFBundleURLName</key>
                    <string>wexin</string>
                    <key>CFBundleURLSchemes</key>
                    <array>
                        <string>$APIKEY</string>
                    </array>
                </dict>
            </array>
        </config-file>
        <header-file src="src/ios/ApiXml.h" />
        <source-file src="src/ios/ApiXml.mm" compiler-flags="-fno-objc-arc" />
        <header-file src="src/ios/payRequestHandler.h" />
        <source-file src="src/ios/payRequestHandler.mm" compiler-flags="-fno-objc-arc" />
        <header-file src="src/ios/Pgwxpay.h" />
        <source-file src="src/ios/Pgwxpay.mm" compiler-flags="-fno-objc-arc" />
        <header-file src="src/ios/WXUtil.h" />
        <source-file src="src/ios/WXUtil.mm" />
        <header-file src="src/ios/WechatAuthSDK.h" />
        <header-file src="src/ios/WXApiObject.h" />
        <header-file src="src/ios/WXApi.h" />
        <!-- Other required frameworks -->
        <framework src="Security.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="Foundation.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="Foundation.framework" />
        <framework src="libsqlite3.dylib" />
        <framework src="libz.dylib" />
    </platform>
</plugin>
